$surface-1: #bcb8b8;
$surface-2: #B2AEAE;
$surface-3: #A4A3A2;
$surface-4: #91908D;
$surface-5: #C3C1C1;

$accent-1: #b63206;
$accent-2: #e96d00;
$accent-3: #ea8023;
$accent-4: #48744e;
$accent-5: #4865c6;
$accent-6: #2947a7;
$accent-7: #593686;
$accent-8: #6c43a2;

$primary-accent: $accent-4;
$secondary-accent: $accent-5;

$foreground-color: #141414;

$highlight: rgba(255,255,255,0.15);

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-2};
