$surface-1: #0F0F0F;
$surface-2: #141414;
$surface-3: #1A1A1A;
$surface-4: #1F1F1F;
$surface-5: #353535;

$accent-1: #BE3A0E;
$accent-2: #F97D10;
$accent-3: #FA9033;
$accent-4: #5F9566;
$accent-5: #6C84D5;
$accent-6: #314FAF;
$accent-7: #613E8E;
$accent-8: #744BAA;

$primary-accent: $accent-4;
$secondary-accent: $accent-5;

$foreground-color: #B2AEAE;

$highlight: rgba(255,255,255,0.15);

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-2};
